$primary-dark: #242937;
$secondary-dark: #2E3445;
$primary-light: #DBE8D4;
$primary-light-50: hsla(99, 30%, 87%, .5);
$secondary-light: hsla(99, 30%, 87%, 0.753);
$border-light: hsla(99, 30%, 87%, 0.30);
$contrast: #FF9797;