<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Planets Fact App</title>
</head>
<body class="planets-about">


  <section class="hero" id="head">
    <navigation></navigation>
    <h1>Cyber Food</h1>
  </section>





  <section class="carousel">
    <button class="carousel__button carousel__button--left">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button class="carousel__button carousel__button--right">
      <i class="fas fa-chevron-right"></i>
    </button>
    <div class="carousel__track-container">
      <ul class="carousel__track transition">
        <li class="carousel__slide-1 current-slide"></li>
        <li class="carousel__slide-2"></li>
        <li class="carousel__slide-3"></li>
      </ul>
    </div>
    <div class="carousel__nav">
      <button class="carousel__indicator current-slide"></button>
      <button class="carousel__indicator"></button>
      <button class="carousel__indicator"></button>
    </div>
  </section>




  <section class="planets-about__info">
    <h3>About</h3>
    <p>A Web Application for ordering from a restaurant. A user can order from a list of items, once satisfied with his order can checkout and pay. The administrators can handle each order through a dashboard that shows all the orders and the relative status.
    </p>
    <a href="https://github.com/igorbanjac91/cyber_food" target="_blank">
      <i class="fab fa-github"></i>
      Visit GitHub repository
    </a>
    <h3>Technologies</h3>
    <ul>
      <li>Ruby on Rails</li>
      <li>React</li>
    </ul>
    <a href="https://cyber-food-105.herokuapp.com/" target="_blank" class="link-to-website">
      <i class="fas fa-external-link-alt"></i>
      View Website
    </a>
  </section>

  <footer></footer>
</body>
</html>