<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Planets Fact App</title>
</head>
<body class="planets-about">
  <section class="hero" id="head">
    <navigation></navigation>
    <h1>Planets Facts Website</h1>
  </section>





  <section class="carousel">
    <button class="carousel__button carousel__button--left">left</button>
    <button class="carousel__button carousel__button--right">right</button>
    <div class="carousel__track-container">
      <ul class="carousel__track">
        <li class="carousel__slide-1"></li>
        <li class="carousel__slide-2"></li>
        <li class="carousel__slide-3"></li>
      </ul>
    </div>
    <div class="carousel__nav">
      <button class="carousel__indicator"></button>
      <button class="carousel__indicator"></button>
      <button class="carousel__indicator"></button>
    </div>
  </section>




  <section class="about">
    
  </section>
</body>
</html>