<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Planets Fact App</title>
</head>
<body class="planets-about">
  <section class="hero" id="head">
    <!-- <nav class="main-nav">
      <a href="/index.html">Home</a>
      <a href="#" class="menu-btn">
        <i class="fa fa-bars"></i>
      </a>
      <ul id="menu">
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contac Me</a></li>
        <li><a href="#">Resume</a></li>
      </ul>
    </nav> -->
    <navigation></navigation>
  </section>

  
  


  <section>
    <h1>Planets Website Fact</h1>
    <div class="carousel">
      <a class="left"></a>
      <div class="images-container">
      </div>
      <a class="right"></a>
    </div>
  </section>
</body>
</html>