<section class="footer">
  <a href="#head" class="about-hidden">
    <i class="fas fa-chevron-up"></i>
  </a>
  <nav class="social-nav">
    <ul>
      <li>
        <a href="https://twitter.com/banjac_igor" class="social-nav__icon">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/igorbanjac91" class="social-nav__icon">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/igor-banjac-034167211/" class="social-nav__icon">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
  </nav>
  <small class="footer__copyright">© 2021 <span>Igor Banjac</span>. All right reserved.</small>
</section>