<nav class="main-nav">
  <div class=main-nav__header>
    <a href="/index.html" class="home-link">Home</a>
    <a href="https://igorbanjac91.github.io/portfolio-website/" class="menu-btn">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <ul id="menu">
    <li><a href="https://igorbanjac91.github.io/portfolio-website/#about" class="about-link">About</a></li>
    <li><a href="https://igorbanjac91.github.io/portfolio-website/#projects" class="projects-link">Projects</a></li>
    <li><a href="https://igorbanjac91.github.io/portfolio-website/#contact" class="contact-link">Contac Me</a></li>
    <li><a href="https://docs.google.com/document/d/1vF00kFGxV2-cMkALXY-d4lu5nBSDbYCKQbDUKf4UiuE/export?format=pdf">Resume</a></li>
  </ul>
</nav>