@media (min-width: 850px) { 
    /* ------------- Index --------------

  - General
  - Hero & Nav
  - About
  - Projects
  - Contact
  - Footer

  */

  /* --------------------- GENERAL --------------------- */

  /* --------------------- HERO & NAV --------------------- */

  .menu-btn {
    display: none;
  }

  .hero {
    height: 100vh;
    margin-bottom: 90px;
    background-color: $secondary-dark;

    nav {
      position: relative;
      height: 30px;
      padding: 8px;
    }


  }

  .main-nav ul {
    display: flex;
    justify-content: flex-end;
    overflow: visible;
    position: static;

    a {
      display: inline-block;
      width: auto;
      padding: 10px;
      padding-left: 20px;
      border-bottom: none;
      transition: color 100ms ease-in-out 0ms;
    } 

    a:hover {
      color: $contrast;
    }

  }
  /* --------------------- ABOUT --------------------- */

  .about {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 90px;

    &__picture {
      flex: 0 0 250px; 
      height: 280px;
    }

  }

  /* --------------------- PROJECTS --------------------- */

  /* --------------------- CONTACT --------------------- */

  .contact {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;

    form {
      max-width: 600px;
    }
  }

  /* --------------------- FOOTER --------------------- */

}