@media (min-width: 550px) {
  /* ------------- Index --------------

  - General
  - Hero & Nav
  - About
  - Projects
  - Contact
  - Footer

  */

  /* --------------------- GENERAL --------------------- */

  h2 {
    font-size: 1.7em;
  }
  /* --------------------- HERO & NAV --------------------- */

  .hero {
    margin-bottom: 90px;
  }

  /* --------------------- ABOUT --------------------- */

  .about {
    margin-bottom: 90px;
    
    h2 {
      font-size: 1.7em;
    }

    &__bio {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 40px;
    }

    &__picture {
      flex: 0 0 150px; 
      margin: 0;
    }

    &__text {
      flex-basis: 65%;
      text-align: left;
    }

    p {
      width: 100%;
    }

  }

  /* --------------------- PROJECTS --------------------- */

  .projects {
    margin-bottom: 90px;

    &__nav {

      ul {
        text-align: center;
        margin-bottom: 30px;
      }

      li {
        display: inline-block;
      }

      a {
        border: none;
      }

      .fa-chevron-down {
        display: none;
      }
    }

    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
      margin: 0 auto;

      a {
      }
      
      li {
        flex: 0 0 300px;
        margin: 10px;
      }

    }
  }

  /* --------------------- CONTACT --------------------- */

  .contact {
    margin-bottom: 90px;
  }

  /* --------------------- FOOTER --------------------- */

  .footer {
    
    ul {
      max-width: 500px;
    }
  }
  
}