$primary-dark: #242937;
$secondary-dark: #2E3445;
$primary-light: #DBE8D4;
$border-light: hsla(99, 30%, 87%, 0.30);
$contrast: #FF9797;

@font-face {
  font-family: "Montserrat";
  src: url("./Montserrat/Montserrat-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Regular.ttf") format('truetype');
  font-weight: 400; 
  font-style: normal;
}

// Fonts

h1, h2 {
  font-family: "Montserrat";
}

button {
  font-family: "Roboto";
}

// Other

body {
  font-family: "Roboto";
  background-color: $secondary-dark;
  color: $primary-light;
}

a {
  text-decoration: none;
  color: $primary-light;
}

h1, h2 {
  font-size: 1.8em;
}

h1 > span {
  color: $contrast;
}

.fa-bars {
  display: inline-block;
  cursor: pointer;
  font-size: 2em;
}

.hero {
  height: 100vh;
}

.hero {
  nav {
    position: relative;
    height: 30px;
    padding: 8px;
    .fa-bars {
      float: right;
      margin-right: 10px;
    }
  }
  main {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
}

.main-nav ul{
  height: 0px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  transition: height 300ms ease-in-out 0s;
  a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    padding-left: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid $primary-dark;
  }
}

.main-nav ul.show-menu {
  height: 200px;
}


.about-me-btn {
  margin-top: 30px;
  padding: 6px 50px;
  background-color: $secondary-dark;
  border: 1px solid $border-light;
  color: $primary-light;
}

